

.disc-img:hover {
  transform: translateY(-5px);
}

.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.disclosures-header {
  background-image: url("../../../../assets/DisclouriesBackGroumd.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.disc-img-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.disc-img {
width: 100%;
padding: 20px;
position: relative;
}
